.nav{
    background-color: #171d4b;
}

.navbar-toggler{
    background-color: white !important;
}

.nav a{
    color: white;
}

.collapse{
    padding-left: 80px;
}

.info1{
    padding-top: 10rem;
}